*{ 
  margin:20px;
  padding:10px;
  
  }

body {
background:linear-gradient(#06005A, #1F1DBF, #8C00F0);
color:#fe28a2;
  div { border-color:#FFEA00 }
}

 a{
        color: #5DFF47
        text-decoration: none;
        } 
                                                                             
        lil{
          list-style-type: lower-greek                                                                   
          }
