*{
  margin: 0px;
  padding: 0px;
}


body {
background: #648c11;
  color: #FF9C9C;

  div#general{
  margin: auto;
  margin-top:200px;
  width:600px;
  height:800px;
  background-color: #FFF5B8;
  
  }
}
